<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org"
	th:fragment="Layout(content)">

<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<title>Home - Admin</title>
<link rel="stylesheet"
	href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
	crossorigin="anonymous">
<link rel="stylesheet" href="/css/style.css">

</head>

<body>
	<div class="d-flex">
		<!-- Sidebar -->
		<aside id="sidebar">
			<div class="d-flex">
				<button class="toggle-btn" type="button">
					<i class="bi bi-grid"></i>
				</button>
				<div class="sidebar-logo">
					<a href="/admin/">ProTec Store</a>
				</div>
			</div>
			<ul class="sidebar-nav">
				<li class="sidebar-item"><a href="#"
					class="sidebar-link collapsed has-dropdown"
					data-bs-toggle="collapse" data-bs-target="#almacen"
					aria-expanded="false" aria-controls="auth"> <i
						class="bi bi-shop-window"></i> <span>Almacén</span>
				</a>
					<ul id="almacen" class="sidebar-dropdown list-unstyled collapse"
						data-bs-parent="#sidebar">
						<li class="sidebar-item"><a href="/admin/categorias"
							class="sidebar-link">Categorias</a></li>
						<li class="sidebar-item"><a href="/admin/productos"
							class="sidebar-link">Productos</a></li>
						<li class="sidebar-item"><a href="/admin/servicios"
							class="sidebar-link">Servicios</a></li>
					</ul></li>
				<li class="sidebar-item"><a href="#"
					class="sidebar-link collapsed has-dropdown"
					data-bs-toggle="collapse" data-bs-target="#ordenes"
					aria-expanded="false" aria-controls="auth"> <i
						class="bi bi-clipboard-check-fill"></i> <span>Ordenes</span>
				</a>
					<ul id="ordenes" class="sidebar-dropdown list-unstyled collapse"
						data-bs-parent="#sidebar">
						<li class="sidebar-item"><a href="#" class="sidebar-link">Pedidos</a>
						</li>
						<li class="sidebar-item"><a href="/admin/citas"
							class="sidebar-link">Citas</a></li>
					</ul></li>
				
				<li class="sidebar-item"><a href="#"
					class="sidebar-link collapsed has-dropdown"
					data-bs-toggle="collapse" data-bs-target="#addtrabajador"
					aria-expanded="false" aria-controls="auth"> <i
						class="bi bi-person-fill-add"></i> <span>Agregar Empleado</span>
				</a>
					<ul id="addtrabajador"
						class="sidebar-dropdown list-unstyled collapse"
						data-bs-parent="#sidebar">
						<li class="sidebar-item"><a href="/admin/empleados" class="sidebar-link">Agregar Empleado</a>
						</li>
						<!--<li class="sidebar-item"><a href="#" class="sidebar-link">agregar</a>
						</li>-->
					</ul></li>
			</ul>
			<div class="sidebar-footer">
				<a href="#" class="sidebar-link"> <i
					class="bi bi-person-fill"></i> <span>Perfíl</span>
				</a> <a href="/logout" class="sidebar-link"> <i
					class="bi bi-box-arrow-in-left"></i> <span>Salir</span>
				</a>
			</div>
		</aside>
		<!-- Main -->
		<div class="main">
			<div th:replace="${content}"></div>
		</div>
	</div>
	<script
		src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
		crossorigin="anonymous"></script>
	<script>
		const hamBurger = document.querySelector(".toggle-btn");

		hamBurger.addEventListener("click", function () {
			document.querySelector("#sidebar").classList.toggle("expand");
		});
	</script>
</body>

</html>