<!DOCTYPE html>
<html lang="es" xmlns:th="~http://www.thymeleaf.org"
	th:replace="~{admin/base_admin::Layout(~{::section})}">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>

	<section>
		<main class="mr-3">
			<div class="container-fluid mt-3">
				<div class="row">
					<div class="d-flex">
						<button class="btn-add-product" data-bs-toggle="modal"
							data-bs-target="#exampleModal">Agregar Empleados</button>

						<!--<div class="search-bar">
							<input placeholder="Buscar:" type="text" />
						</div>

						<div class="d-flex">
							<a href="/admin/ExportarCategoriasPdf" class="btn btn-primary"
								target="_blank">Exportar PDF</a> <a
								href="/admin/ExportarCategoriasExcel" class="btn btn-success"
								target="_blank">Exportar Excel</a>
						</div>-->
					</div>
					<th:block th:if="${session.succMsg}">
						<p class="text-success fw-bold">[[${session.succMsg}]]</p>
						<th:block th:text="${@commomServiceImpl.removeSessionMessage()}"></th:block>
					</th:block>
					<th:block th:if="${session.errorMsg}">
						<p class="text-danger fw-bold">[[${session.errorMsg}]]</p>
						<th:block th:text="${@commomServiceImpl.removeSessionMessage()}"></th:block>

					</th:block>
					<table class="table tabla">
						<thead>
							<tr>
								<th scope="col">ID</th>
								<th scope="col">Nombre Completo</th>
								<th scope="col">Telefono</th>
								<th scope="col">Correo</th>
								<th scope="col">Contraseña</th>
								<th scope="col">Dirección</th>
								<th scope="col">Ciudad</th>
								<th scope="col">Especialidad</th>
								<th scope="col">Estado</th>
								<th scope="col">Imagen</th>

								<th scope="col">Acción</th>
							</tr>
						</thead>
						<tbody class="table-group-divider">
							<tr th:each="e, c : ${empleados} ">
								<th scope="row">[[${c.count}]]</th>
								<td>[[${e.nombre}]]</td>
								<td>[[${e.celular}]]</td>
								<td>[[${e.email}]]</td>
								<td>[[${e.password}]]</td>
								<td>[[${e.direccion}]]</td>
								<td>[[${e.ciudad}]]</td>
								<td>[[${e.soporte.nombre}]]</td>
								<td>[[${e.isEnable}]]</td>
								<td><img th:src="@{'/img/usuario_img/'+${e.imagenPerfil}}"
									class="img-fluid" width="70px" /></td>

								<td>
									<div class="dropdown-center">
										<button class="btn dropdown-toggle " type="button"
											data-bs-toggle="dropdown" aria-expanded="false">
											Opciones</button>
										<ul class="dropdown-menu">
											<li><a class="dropdown-item"
												th:href="@{'/admin/cambiarEstadoEmpleado/'+${e.id}}">Cambiar Estado</a></li>
											<li><a class="dropdown-item"
												th:href="@{'/admin/eliminarEmpleado/'+${e.id}}">Eliminar</a></li>
										</ul>
									</div>
								</td>
							</tr>

						</tbody>
					</table>
				</div>
				<!-- Modal - ADD CATEGORY-->
				<div class="modal fade" id="exampleModal" tabindex="-1"
					aria-labelledby="exampleModalLabel" aria-hidden="true">
					<div
						class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
						<div class="modal-content">
							<form action="/admin/saveEmpleado" method="post"
								enctype="multipart/form-data">
								<div class="modal-header">
									<h1 class="modal-title fs-5" id="exampleModalLabel">Agregar
										Empleado</h1>
									<button type="button" class="btn-close" data-bs-dismiss="modal"
										aria-label="Close"></button>
								</div>
								<div class="modal-body">
									<!-- Nombre -->
									<div class="mb-3">
										<label for="Name" class="form-label">Nombre del
											Empleado</label> <input type="text" class="form-control" id="Name"
											name="nombre" placeholder="Nombre del empleado" required>
									</div>
									<!-- Telefono -->
									<div class="mb-3">
										<label for="categoryPhone" class="form-label">Telefono</label>
										<input type="text" class="form-control" id="categoryPhone"
											name="celular" placeholder="Telefono" required>
									</div>
									<!-- Correo -->
									<div class="mb-3">
										<label for="categoryEmail" class="form-label">Correo</label> <input
											type="email" class="form-control" id="categoryEmail"
											name="email" placeholder="Correo" required>
									</div>
									<!-- Contraseña -->
									<div class="mb-3">
										<label for="categoryPassword" class="form-label">Contraseña</label>
										<input type="password" class="form-control"
											id="categoryPassword" name="password"
											placeholder="Contraseña" required>
									</div>
									<!-- Dirección -->
									<div class="row">
										<div class=" col mb-3">
											<label for="categoryAddress" class="form-label">Dirección</label>
											<input type="text" class="form-control" id="categoryAddress"
												name="direccion" placeholder="Dirección" required>
										</div>
										<!-- Ciudad -->
										<div class="col mb-3">
											<label for="categoryCity" class="form-label">Ciudad</label> <input
												type="text" class="form-control" id="categoryCity"
												name="ciudad" placeholder="Ciudad" required>
										</div>

									</div>

									<!-- soporte -->
									<div class="mb-3">
										<label for="Soporte" class="form-label">Especialidad</label> <select
											class="form-select" id="Soporte" name="soporteId">
											<option th:each="s:${soportes}" th:value="${s.id}">[[${s.nombre}]]</option>
										</select>
									</div>






									<!-- Estado -->
									<div class="mb-3">
										<label for="categoryStatus" class="form-label">Estado</label>
										<select class="form-select" id="categoryStatus"
											name="isEnable">
											<option value="true">Activo</option>
											<option value="false">Inactivo</option>
										</select>
									</div>
									<!-- Imagen -->
									<div class="mb-3">
										<label for="categoryImage" class="form-label">Imagen
											del empleado</label> <input type="file" class="form-control"
											id="categoryImage" name="file">
									</div>
								</div>
								<div class="modal-footer">
									<button type="submit" class="btn btn-secondary"
										data-bs-dismiss="modal">Cerrar</button>
									<button type="submit" class="btn btn-primary">Guardar
										Categoría</button>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</main>
	</section>
</body>
</html>