<!DOCTYPE html>
<html lang="es" xmlns:th="~http://www.thymeleaf.org"
	th:replace="~{admin/base_admin::Layout(~{::section})}">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<section>
		<main class="p-3">
			<div class="container-fluid">
				<div class="mb-3 text-center">
					<div
						class="content d-flex justify-content-center align-items-center">
						<img class="image1 img-fluid" src="/img/1.png" width="500" height="500" />
					</div>
				</div>
			</div>
		</main>

	</section>
</body>
</html>