<!doctype html>
<html lang="es" xmlns:th="http://www.thymeleaf.org"
	th:fragment="Layout(content)">

<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>ProTec Store</title>
<link rel="stylesheet"
	href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
	crossorigin="anonymous">
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.1/css/all.min.css"
	integrity="sha512-5Hs3dF2AEPkpNAR7UiOHba+lRSJNeM2ECkwxUIxC1Q/FLycGTbNapWXB4tP889k5T5Ju8fs4b1P5z/iB4nMfSQ=="
	crossorigin="anonymous" referrerpolicy="no-referrer" />
<link rel="stylesheet" href="/css/styleUser.css">


<style>
.nav-link:hover {
	color: #00BFFF; /* Cambia el color del texto al pasar el mouse */
	text-decoration: underline; /* Opcional: subrayado al hacer hover */
}

@media ( max-width : 1024px) {
	.carddd {
		flex: 0 0 25%;
		max-width: 100%;
	}
}

@media ( max-width : 768px) {
	.carddd {
		flex: 0 0 33.3%;
		max-width: 100%;
	}
}

@media ( max-width : 425px) {
	.carru {
		padding-left: 5%;
	}
	.carddd {
		flex: 0 0 100%;
		max-width: 100%;
	}
}

@media ( max-width : 320px) {
	.carru {
		padding-left: 5px;
	}
	.carddd {
		flex: 0 0 100%;
		max-width: 100%;
		align-content: center;
	}
}

.carousel-item {
	position: relative;
}

.btn-comprar {
	position: absolute;
	left: 10%;
	bottom: 30%;
	z-index: 10;
}

.profile-pic {
	width: 120px;
	height: 120px;
	border-radius: 50%;
	object-fit: cover;
}
</style>
</head>

<body>
	<header>
		<nav class="navbar navbar-expand-lg navegador">
			<div class="container-fluid">
				<a class="navbar-brand text-white" th:href="@{/}">ProTec Store</a>
				<button class="navbar-toggler" type="button"
					data-bs-toggle="collapse" data-bs-target="#navbarNav"
					aria-controls="navbarNav" aria-expanded="false"
					aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse" id="navbarNav">
					<!-- FORMULARIO CENTRADO -->
					<!--<form class="d-flex mx-auto">
                        <input class="form-control me-2" type="search" placeholder="Buscar el producto">
                        <button class="btn btn-outline-success" type="submit">Buscar</button>
                    </form>-->
					<!-- ICONOS A LA DERECHA -->
					<ul class="navbar-nav ms-auto d-flex align-items-center">

						<li class="nav-item"><a class="nav-link text-white"
							href="/nosotros"> <i class="bi bi-info-circle"></i> Sobre
								Nosotros
						</a></li>
						<li class="nav-item"><a class="nav-link text-white"
							href="/contacto"> <i class="bi bi-telephone"></i> Contacto
						</a></li>


						<th:block th:if="${user!=null}">

							<li class="nav-item"><a class="nav-link text-white"
								th:href="@{/user/citas}"><i class="bi bi-heart"></i> Mis
									Citas</a></li>
							<li class="nav-item"><a class="nav-link
						text-white"
								th:href="@{/user/citasPasadas}"><i class="bi bi-heart"></i>
									Citas pasadas</a></li>
						</th:block>
						<li class="nav-item"><a class="nav-link text-white"
							href="/soporte"> <i class="bi bi-headset text-white"></i>
								Servicios
						</a></li>
						
						<li class="nav-item"><a class="nav-link" href="carro.html">
								<i class="bi bi-cart-fill text-white"></i>
						</a></li>
						<th:block th:if="${user==null}">
							<li class="nav-item"><a class="nav-link text-white"
								href="/signin"> <i class="bi bi-person-fill text-white"></i>
									<span>Inicia Sesion</span>
							</a></li>
						</th:block>
						<th:block th:if="${user!=null}">
							<li class="nav-item"><a class="nav-link text-white"
								th:href="@{/user/editarPerfil}"> <i
									class="bi bi-person-fill text-white"></i> <span>[[${user.nombre}]]</span>

							</a></li>
							<li class="nav-item"><a class="nav-link" href="/logout">
									<i class="bi bi-box-arrow-right text-white"></i>

							</a></li>
						</th:block>
					</ul>
				</div>
			</div>
		</nav>
	</header>

	<!--contenido-->
	<div th:replace="${content}"></div>

	<!-- Fragmento para el pie de página -->
	<div>
		<footer class="bg-dark text-white py-4">
			<div class="container">
				<div class="row pt-5 pb-5">
					<div class="col-3 text-center">
						<h3>ProTec Store</h3>
					</div>
					<div class="col-6 text-center">
						<a href="/soporte" class="text-white m-4">Servicios</a> <a
							href="/nosotros" class="text-white m-4">Sobre Nosotros</a> <a
							href="/contacto" class="text-white m-4">Contacto</a>
					</div>
					<div class="col-3 text-center">
						<a href="#" class="text-white m-2"><i class="bi bi-twitter"></i></a>
						<a href="#" class="text-white m-2"><i class="bi bi-facebook"></i></a>
						<a href="#" class="text-white m-2"><i class="bi bi-tiktok"></i></a>
						<a href="#" class="text-white m-2"><i class="bi bi-instagram"></i></a>
					</div>
				</div>
				<div class="row pt-3 text-center">
					<div class="col-12">
						<p>Copyright ProTec Store - 2024</p>
					</div>
				</div>
			</div>
		</footer>
	</div>


	<script
		src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
		crossorigin="anonymous"></script>
	<script type="text/javascript">
    document.addEventListener("DOMContentLoaded", function () {
        var toastEl = document.getElementById('miToast');
        var toast = new bootstrap.Toast(toastEl);

        // Mostrar el Toast
        toast.show();
    });
</script>

	<script src="/js/scriptUser.js"></script>
</body>

</html>