<!DOCTYPE html>
<html lang="es" xmlns:th="~http://www.thymeleaf.org"
	th:replace="~{user/base_user::Layout(~{::section})}">

<head>
<meta charset="UTF-8">
<title></title>
</head>

<body>
	<!-- Sección de detalles -->
	<section class="container mt-5">

		<h2 class="text-center mb-4">Selecciona una Hora para tu Cita</h2>

		<div class="alert alert-info" role="alert">
			Servicio Seleccionado: [[${empleadoSeleccionado.soporte.nombre}]] <br> Empleado:
			[[${empleadoSeleccionado.nombre}]] <br> Fecha:
			[[${fechaSeleccionada}]]
		</div>

		<form action="/reservar" method="POST">
			<input type="hidden" name="empleadoId"
				th:value="${empleadoSeleccionado.id}"> <input type="hidden"
				name="fecha" th:value="${fechaSeleccionada}">

			<div class="mt-4">
				<h5>Horarios Disponibles:</h5>
				<div class="d-flex flex-wrap">
					<div th:each="hora, iterStat : ${horarios}">
						<input type="submit" id="hora" th:id="'hora' + ${iterStat.index}"
							name="hora" th:value="${hora}" class="d-none"> <label
							th:for="'hora' + ${iterStat.index}" class="btn btn-success">[[${hora}]]</label>
					</div>

					<!-- <th:block name="hora"  th:each="hora : ${horarios}" >
                        <input type="submit" id="hora5" name="hora"  th:value="${hora}" class="d-none">
                        <label for="hora5" class="hour-button">[[${hora}]]</label>
                    </th:block>-->
				</div>
			</div>
		</form>
		<a class="btn btn-primary" href="/paso2">Regresar</a>






	</section>

</body>

</html>