<!DOCTYPE html>
<html lang="es" xmlns:th="~http://www.thymeleaf.org"
	th:replace="~{user/base_user::Layout(~{::section})}">

<head>
<meta charset="UTF-8">
<title></title>
</head>

<body>
	<!-- Sección de detalles -->
	<section class="container cuadroPrincipal">

		<div class="mt-5  p-4 border rounded shadow-lg">
			<h2 class="text-center mb-4">Selecciona una Hora para tu Cita</h2>

			<div class="alert alert-info" role="alert">
				<strong>Servicio Seleccionado:</strong>
				[[${empleadoSeleccionado.soporte.nombre}]] <br> <strong>Empleado:</strong>
				[[${empleadoSeleccionado.nombre}]] <br> <strong>Fecha:</strong>
				[[${fechaSeleccionada}]]
			</div>

			<form action="/reservar" method="POST">
				<input type="hidden" name="empleadoId"
					th:value="${empleadoSeleccionado.id}"> <input type="hidden"
					name="fecha" th:value="${fechaSeleccionada}">

				<div class="mt-4">
					<h5>Horarios Disponibles:</h5>
					<div class="row g-3">
						<div th:each="hora, iterStat : ${horarios}"
							class="col-md-3 col-sm-6">
							<input type="submit" id="hora" th:id="'hora' + ${iterStat.index}"
								name="hora" th:value="${hora}" class="d-none"> <label
								th:for="'hora' + ${iterStat.index}"
								class="btn btn-outline-success btn-lg w-100 text-center">
								[[${hora}]] </label>
						</div>
					</div>
				</div>

				<div class="mt-4 d-flex justify-content-between">
					<a class="btn btn-secondary" href="/paso2">Regresar</a>
					
					<th:block th:if="${user == null}">

						<p class="text-center">Para reservar tu cita, inicia sesión o
							regístrate</p>
					</th:block>
				</div>
			</form>
		</div>
	</section>

</body>

</html>